.todo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
	padding: 5px;

	transition: background-color 0.15s ease-out;

	border-bottom: 1px solid grey;

	.todo-name {
		display: flex;
		align-items: center;
		justify-content: center;

		.toggle-button {
			height: 0.7em;
			width: 0.7em;
			margin-right: 3em;

			cursor: pointer;
		}
	}

	.delete-button {
		all: unset;
		cursor: pointer;
		height: 1em;
	}

	&:last-child {
		border-bottom: none;
	}
}

.completed-todo {
	background-color: rgb(97, 221, 97);
}

.active-todo {
	background-color: rgb(177, 52, 52);
}
